header{
    position: fixed;
    background-color: aquamarine;
    height: 70px;
    width: 100%;
    top: 0;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    border-bottom: 1px solid rgb(29, 28, 28);
}
.container{
    display: flex;
    justify-content: flex-end;
    height: 30px;
    width: 80px;
    background-color: blue;
    padding-left: 30px;
}
filter
{
    height: 20px;
    width: 50px;
    margin-top: 30px;
    align-items: relative;
}